Package: applist
Section: System
Installed-Size: 780
Filename: debs/applist.deb
Size: 186842
MD5sum: 3c7d25720f06e5868e7783a29091a87c
Maintainer: Ryan Petrich <rpetrich@gmail.com>
Architecture: iphoneos-arm
Version: 1.5.16
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 3.0), com.rpetrich.rocketbootstrap (>= 1.0.7~beta3) | firmware (<< 7.0)
Conflicts: com.a3tweaks.polus (<< 2.0.7)
Description: Allow extensions to read the list of installed apps
Name: AppList
Author: Ryan Petrich <rpetrich@gmail.com>
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=AppListDp
Website: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=AppListDp
dev: rpetrich

